body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #7ac142;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.app-name {
    font-size: 36px;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none !important; 
}

.slogan {
    font-size: 18px;
}

.main-content {
    padding: 20px;
}

.reminders-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.reminder {
    text-align: center;
    margin: 10px;
}

.reminder img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.reminder p {
    font-size: 16px;
    margin-top: 10px;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #7ac142;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7ac142;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.login-button-box {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

#login-button {
    float: right;
}

