body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #7ac142;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.app-name {
    font-size: 36px;
    margin-bottom: 5px;
}

.slogan {
    font-size: 18px;
}

.main-content {
    padding: 20px;
}

.upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    margin-top: 20px;
}

.upload-label {
    padding: 20px; 
    font-size: 18px;
    background-color: #7ac142;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: opacity 0.3s;
}

.upload-label:hover {
    opacity: 0.8;
}

input[type="file"] {
    display: none;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature {
    text-align: center;
}

.feature img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #7ac142;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7ac142;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px; 
    transition: background-color 0.3s;
}

.login-button-box {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
#login-button {
    float: right;
}

